---
import Navbar from "../components/navbar/Navbar.svelte";
import Container from "../components/ui/Container.svelte";
import Footer from "../components/ui/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reservar">
  <Navbar client:only />
  <Container>
    <div class="mt-28 w-full">
      <h2 class="mb-10 text-3xl font-bold text-font md:text-6xl">
        Términos y condiciones
      </h2>
      <iframe src="/files/termsAndConditions.pdf" class="w-full h-[80vh]"
      ></iframe>
    </div>
  </Container>
  <Footer />
</Layout>
