<div class="relative grid grid-cols-2 w-max md:-right-24">
  <img
    src="/images/header1.webp"
    alt="hoteles de acapulco vistos desde el cielo"
    class="relative h-48 -right-10 animate-fade-right animate-once animate-delay-100 rounded-xl"
  >
  <img
    src="/images/header2.webp"
    alt="la gran vista de el mar"
    class="relative w-48 -bottom-32 md:-left-4 animate-fade-left animate-once animate-delay-100 rounded-xl"
  >
  <img
    src="/images/header3.webp"
    alt="hermosa playa de acapulco"
    class="relative h-72 -bottom-5 animate-fade-right animate-once animate-delay-150 rounded-xl"
  >
  <img
    src="/images/header4.webp"
    alt="hermoso atardecer, el sol desaparece a travez del mar"
    class="relative -bottom-28 md:-left-24 animate-fade-left animate-once animate-delay-250 rounded-xl"
  >
</div>