<div class="grid grid-cols-2 [&>img]:relative [&>img]:rounded-xl w-max relative md:-right-24">
  <img src="/images/header1.webp" alt="" class="h-48 -right-10">
  <img src="/images/header2.webp" alt="" class="w-48 -bottom-32 md:-left-4">
  <img src="/images/header3.webp" alt="" class="h-72 -bottom-5">
  <img src="/images/header4.webp" alt="" class="-bottom-28 md:-left-24">
</div>