---
import Container from "./Container.svelte";
---

<footer class="w-full py-10 mt-36 bg-secondary animate-fade animate-once animate-ease-in-out">
  <Container>
    <div>
      <a href="/"
        ><h1 class="text-lg font-bold md:text-xl">🌴 Vamos a Acapulco</h1></a
      >
    </div>
  </Container>
</footer>
